:root {
    --transition-time: 1.7s;  /* Controlled in cardstack.js */ 
    /* --mobile-max-width: 485px; */
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

html {
    overflow: hidden;
    width: 100%;
}

body {
    min-height: 120%;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

body {
    background: #FFF;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    
    /* Disable scrolling */
    /* overflow: hidden; */
    /* touch-action: none;
    -ms-touch-action: none; */

    /* min-height: 120vh; */
    /* min-height: -webkit-fill-available; */
}

nav {
    z-index: 100;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    width: 100vw;
    height: 4em;

    top: 0px;
    left: 0px;

    background-color: rgba(0, 0, 0, 0.137);
    color: rgb(0, 0, 0);

    padding-left: 1em;
    padding-right: 1em;
    /* border: solid red 1px; */
}

#spicy-section, #lang-section, #switches {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lang-section {
    margin-left: 2em;
}

/* Make navbar into hamburger menu on mobile */
@media only screen and (max-width: 485px) {
    #switches {
        display: none;
    }
    #hamburger {
        display: visible;
    }
}
/* Make hamburger menu into navbar on bigger devices than mobile */
@media only screen and (min-width: 486px) {
    #switches {
        display: visible;
    }
    #hamburger {
        display: none;
    }
}


.q-container, .cardstack {
    /* Center container */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Poker card aspect ratio */
    width: 70vw;
    aspect-ratio: 2.5 / 3.5;

    /* Leave room for text */
    padding: 1em;

    /* Size for text (changes container size too) */ 
    font-size: 2em;

    /* Give cards round corners */
    border-radius: 2.5%;
}

.q-container {
    background-color: #FFF;

    /* Put the question container in front of everything */
    z-index: 99;

    text-align: left;
    /* Center textbox inside card */
    display: flex;
    align-items: center;
    justify-content: center;

    /* User can't select text (won't interrupt the "app-y" feel, esp. on phones) */
    user-select: none;

    /* Container size won't change if text overflows */
    /* max-height:  */
    overflow: hidden;

    /* Realistic shadows */
    box-shadow:
    0.7px 0.4px 1.7px rgba(0, 0, 0, 0.029),
    1.9px 1.2px 4.2px rgba(0, 0, 0, 0.04),
    3.8px 2.5px 7.9px rgba(0, 0, 0, 0.048),
    7.2px 4.7px 14.1px rgba(0, 0, 0, 0.056),
    13.7px 8.8px 26.3px rgba(0, 0, 0, 0.066),
    31px 20px 63px rgba(0, 0, 0, 0.09)
    ;
}

.cardstack {
    transform-origin: center center;

    transition: all var(--transition-time) ease-out, background-color 1s, box-shadow 2s;
}

.cardstack:first-child {
    box-shadow: 
    1 1px 25px hsl(0deg 0% 0% / 1),
    0 2px 10px hsl(0deg 0% 0% / 0.2),
    1px 3px 10px hsl(0deg 0% 0% / 0.2),
    1px -1px 10px hsl(0deg 0% 0% / 0.2);
}

/* Landscape */
@media (orientation: landscape) {
    .q-container, .cardstack {
        max-height: 70vh;
        aspect-ratio: 3.5 / 2.5; 
    }
}

/* For desktop */
@media only screen and (min-width: 768px) {
    .q-container {
        font-size: 3em;
    }
}

/* For mobile: move cards downwards to have room for nav */
@media only screen and (max-width: 485px) {
    .q-container, .cardstack {
        margin-top: 1em;
    }
}
/* Portrait */
/* @media (orientation: portrait) {
    .q-container, .cardstack {
        width: 78vw;
        aspect-ratio: 2.5 / 3.5; 
    }
} */
/* 
.q-container, .cardstack {
    display: none;
} */