:root {
    --transition-time: 1.7s;  /* Controlled in cardstack.js */ 
    font-size: 16px;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

html {
    /* Users can't select text (won't interrupt the app-y feel) */
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;

    /* Users cam't zoom on mobile */
    touch-action: pan-y;
    -ms-touch-action: pan-y;

    text-decoration: none;
}

html {
    overflow: hidden;
    min-width: 100vw;
    min-height: 100vh;
}

body {
    background: radial-gradient(white 75%, #cccccc);
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.q-container, .cardstack {
    /* Center container */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Poker card aspect ratio: 2.5 / 3.5 */
    width: 70vw;
    height: 98vw; 
    
    /* Size for text */ 
    font-size: 2em;
    /* Leave room for text */
    padding: 1em;

    /* Give cards round corners */
    border-radius: 2.5%;
}

.q-container {
    background-color: #FFF;

    /* Put the question container in front of everything, apart from menu */
    z-index: 99;

    /* Center textbox inside card */
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: left;
    /* Container size won't change if text overflows */
    overflow: hidden;

    /* Realistic shadows */
    box-shadow:
    0.7px 0.4px 1.7px rgba(0, 0, 0, 0.029),
    1.9px 1.2px 4.2px rgba(0, 0, 0, 0.04),
    3.8px 2.5px 7.9px rgba(0, 0, 0, 0.048),
    7.2px 4.7px 14.1px rgba(0, 0, 0, 0.056),
    13.7px 8.8px 26.3px rgba(0, 0, 0, 0.066),
    31px 20px 63px rgba(0, 0, 0, 0.09)
    ;
}

.cardstack {
    transition: all var(--transition-time) ease-out, background-color 1s, box-shadow 2s;
}

.cardstack:first-child {
    box-shadow: 
    1 1px 25px hsl(0deg 0% 0% / 1),
    0 2px 10px hsl(0deg 0% 0% / 0.2),
    1px 3px 10px hsl(0deg 0% 0% / 0.2),
    1px -1px 10px hsl(0deg 0% 0% / 0.2);
}

/* Landscape, both mobile & desktop: rotate question container and cards */
@media (orientation: landscape) {
    .q-container, .cardstack {
        height: 75vh;
        width: 105vh;
    }
}

/* Desktop: make font larger */
@media only screen and (min-width: 768px) {
    .q-container {
        font-size: 6em;
    }
}

/* Mobile: move cards downwards to have room for nav */
@media only screen and (max-width: 485px) {
    .q-container, .cardstack {
        margin-top: 0.5em;
    }
}
